<div>
    <h1>Iniciar sesión mediante Github</h1>
    <a href='/api/sessions/github'> <button>Ingresar con Github</button> </a>
    <br />
    <h3>¿No querés usar Github? Podés usar nuestros enlaces:</h3>
    <p>¿No estás registrado? <a href='/users/register'>Registrate aquí</a></p>
    <p>¿Ya tenés cuenta con nosotros?
        <a href='/users/login'>Inicia sesión aquí</a></p>
</div>