<div>
    <h1>Registro</h1>
    <form id='registerForm' method='POST'>

        <label>Nombre</label>
        <input name='first_name' />
        <br />
        <label>Apellido</label>
        <input name='last_name' />
        <br />
        <label>Email</label>
        <input name='email' />
        <br />
        <label>Edad</label>
        <input name='age' />
        <br />
        <label>Contraseña</label>
        <input name='password' />

        <input type='submit' />
    </form>
    <p>¿Ya tenés una cuenta? <a href='/api/sessions/login'>Ingresá aquí</a></p>
</div>
<script src='/js/register.js'></script>