<div>
    <form>
        <input type='text' name='title' id='title' placeholder='Título' />
        <input
            type='text'
            name='description'
            id='description'
            placeholder='Descripción'
        />
        <input type='number' name='price' id='price' placeholder='Precio' />
        <input
            type='text'
            name='thumbnail'
            id='thumbnail'
            placeholder='URL de la imagen'
        />
        <input type='text' name='code' id='code' placeholder='Código' />
        <input type='number' name='stock' id='stock' placeholder='Stock' />
        <input
            type='text'
            name='category'
            id='category'
            placeholder='Categoría'
        />
        <input type='submit' value='Enviar' id='button' />
    </form>

    <div class='product-list'></div>

    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/realTimeProducts.js'></script>
</div>