<div>
    <form>
        <input type='text' name='title' id='title' />
        <input type='text' name='description' id='description' />
        <input type='number' name='price' id='price' />
        <input type='text' name='thumbnail' id='thumbnail' />
        <input type='text' name='code' id='code' />
        <input type='number' name='stock' id='stock' />
        <input type='text' name='category' id='category' />
        <input type='submit' value='Send' id='button' />
    </form>

    <div class='product-list'></div>

    <script src='/socket.io/socket.io.js'></script>
    <script src='/js/realTimeProducts.js'></script>
</div>