<div>
    <h1>Login</h1>
    <form id='loginForm' method='POST'>
        <label>Email</label>
        <input name='email' />
        <br />
        <label>Contraseña</label>
        <input name='password' />
        <input type='submit' />
    </form>
    <p>¿Todavía no estás registrado?
        <a href='/api/sessions/register'>Regístrate aquí</a></p>
</div>
<script src='/js/login.js'></script>